{% extends "elama/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-50 text-center">
    <h2>Restablecer contraseña</h2>
    <p class="mb-3">Introduce tu correo electrónico y recibirás un enlace para cambiar tu contraseña.</p>
    <div class="col-4">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-center">
                {% bootstrap_button button_type="submit" content="Enviar email" %}
            </div>
        </form>
    </div>
    <a href="{% url 'elama:home' %}" class="mt-3">Volver al inicio</a>
</div>
{% endblock content %}
