{% extends 'admin_panel/base.html' %}
{% load static %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/toast.min.css' %}"/>
    <style>
        div:where(.django-ckeditor-widget, #cke_id_contenido_html) {
            width: 100% !important;
        }

        html[data-bs-theme="dark"] .toastjs {
            background: #333 !important;
            color: #fff !important;
            border-left-color: #888 !important;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5) !important;
        }

        html[data-bs-theme="dark"] .toastjs .toastjs-btn {
            background: #444 !important;
            color: #fff !important;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/toast.min.js' %}"></script>
    <script>
        {% for message in messages %}
            const toastMessage = new Toast({
                message: '{{ message }}',
                type: 'success',
            });
            setTimeout(() => {
                toastMessage.toastContainerEl.remove();
            }, 5000);
        {% endfor %}
    </script>
{% endblock %}

{% block content %}
    <h1>
        {% if descriptor %}Editar{% else %}Nuevo{% endif %} Descriptor
    </h1>
    <hr>
    <div class="container" style="display: flex; justify-content: center; align-items: center">

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <div class="d-flex justify-content-end w-100">

                {% if descriptor %}
                    {% comment %} Botón paraabrir el modal de eliminar {% endcomment %}
                    <button type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal"
                            data-bs-target="#confirmarEliminarModal" title="Eliminar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 7l16 0"/>
                            <path d="M10 11l0 6"/>
                            <path d="M14 11l0 6"/>
                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                        </svg>
                    </button>
                {% endif %}

                <button type="submit" class="btn btn-outline-success" title="Añadir/Guardar">
                    {% if descriptor %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-save2" viewBox="0 0 16 16">
                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14"/>
                            <path d="M5 12l14 0"/>
                        </svg>
                    {% endif %}
                </button>
            </div>
        </form>

        {% comment %} Modal {% endcomment %}
        {% if descriptor %}
            <div class="modal fade" id="confirmarEliminarModal" tabindex="-1"
                 aria-labelledby="confirmarEliminarModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'admin_panel:eliminar_descriptor' descriptor.id %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmarEliminarModalLabel">Confirmar eliminación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que quieres eliminar el descriptor?
                                "<strong>{{ descriptor.titulo }}</strong>"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                </button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
