{% extends 'elama/base.html' %}

{% block content %}

  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>TUS EVALUACIONES</h1>
    <form method="POST" action="{% url 'elama:individual' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success" title="Nueva autoevaluación individual">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 5l0 14"/>
                <path d="M5 12l14 0"/>
            </svg>
      </button>
    </form>
  </div>

  {% include 'elama/components/tabla_autoevaluacion.html' with autoevaluaciones=autoevaluaciones %}

{% endblock content %}