{% extends "elama/base.html" %}
{% load django_bootstrap5 %}

{% block styles %}
    <style>
        #info-button {
            transition: all .3s;
        }

        #info-button:hover {
            opacity: .7;
        }
    </style>
{% endblock %}

{% block content %}
    {% comment %}
        Botón HOME
    {% endcomment %}
    <a class="btn btn-outline-dark mb-3" href="{% url 'elama:individual-detail' autoevaluacion.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door"
             viewBox="0 0 16 16">
            <path
                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
        </svg>
    </a>
    <h3 class="text-center">
        Herramienta para la autoevaluación y el desarrollo de Programas de Español como Lengua Adicional para
        Migrantes Adultos (EsPROLAMA)
    </h3>

    <h5 class="text-center mt-5">AUTOEVALUACIÓN INDIVIDUAL</h5>
    <div class="d-flex align-items-center justify-content-between gap-3 my-3">
        <a
                href="
                    {% if  primer_descriptor.id == descriptor.id %}
                        {% url 'elama:individual-detail' autoevaluacion.id %}
                    {% else %}
                        {% url 'elama:individual-descriptor' autoevaluacion.id anterior_descriptor.id %}
                    {% endif %}
                "
                class="btn btn-outline-dark"
        >
            {% comment %}
            Botón ANTERIOR/SALIR
        {% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-big-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path
                        d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z"/>
            </svg>
        </a>
        {% comment %}
            Botón SIGUIENTE/GUARDAR
        {% endcomment %}
        <button type="submit" id="siguiente" form="descriptor-form" class="btn btn-outline-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-big-right">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path
                        d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z"/>
            </svg>
        </button>
    </div>
    {% if autoevaluacion.finalizada %}
        <h6 class="text-center text-danger">FINALIZADA</h6>
    {% endif %}

    <h3 class="border-bottom">{{ descriptor.principio.estrategia.titulo }}</h3>
    <h4 class="mt-4">{{ descriptor.principio.titulo }}</h4>
    {% if not descriptor.descriptor_padre %}
        <h5 class="mt-2 ps-4">{{ descriptor.titulo }}</h5>
        <div class="mt-2 ps-4">{{ descriptor.contenido_html|safe }}</div>
    {% else %}
        <h5 class="mt-2 ps-4">{{ descriptor.descriptor_padre.titulo }}</h5>
        <h6 class="mt-2 ps-5">{{ descriptor.titulo }}</h6>
        <div class="mt-2 ps-5">{{ descriptor.contenido_html|safe }}</div>
    {% endif %}
    {% comment %}
            Botón para el modal de información sobre las puntuaciones
    {% endcomment %}
    <div class="d-flex justify-content-end">
        <button id="info-button" type="button" class="bg-transparent border-0 p-0 m-0 text-warning"
                data-bs-toggle="modal"
                data-bs-target="#modalInformacionValores">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
                <path d="M12 9h.01"/>
                <path d="M11 12h1v4h1"/>
            </svg>
        </button>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <form id="descriptor-form" action="{% url 'elama:individual-descriptor' autoevaluacion.id descriptor.id %}"
              method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-center align-items-center gap-2 mb-5" id="id_valoracion">
                {% for opcion in form.valoracion %}
                    <div>
                        <input
                                type="radio"
                                class="btn-check"
                                name="valoracion"
                                id="id_valoracion_{{ opcion.data.value }}"
                                value="{{ opcion.data.value }}"
                                {% if form.instance.valoracion and form.instance.valoracion|floatformat:0 == opcion.data.value|floatformat:0 %}
                                checked
                                {% endif %}
                                {% if autoevaluacion.finalizada %} disabled {% endif %}
                        />
                        <label
                                class="btn btn-outline-dark"
                                for="id_valoracion_{{ opcion.data.value }}"
                                style="width: 100px;"
                        >
                            {{ opcion.data.value }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% comment %}
    	        div para mostrar el mensaje de feedback a la valoración
            {% endcomment %}
            <div class="d-flex justify-content-center align-items-center m-auto justify-text"
                 style="max-width: 80vw; height: 50px">
                <p id="valoracion-mensaje" class="mt-2 text-secondary" style="text-align: justify;"></p>
            </div>

            <div class="accordion mt-3" style="width: 80vw" id="logroMejoraAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLogroMejora">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseLogroMejora">
                            <span class="text-muted">Añadir Logro y Mejora (opcional)</span>
                        </button>
                    </h2>
                    <div id="collapseLogroMejora" class="accordion-collapse collapse"
                         data-bs-parent="#logroMejoraAccordion">
                        <div class="accordion-body">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex justify-content-between w-75 gap-5">
                                    <div class="form-group flex-fill" >
                                            {{ form.logro}}
                                    </div>
                                    <div class="form-group flex-fill" {% if autoevaluacion.finalizada %} disabled {% endif %}>
                                        {{ form.mejora }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const radios = document.querySelectorAll('input[name="valoracion"]');
            const mensajeSeleccionado = document.getElementById("valoracion-mensaje");

            const mensajes = {
                1: "No os preocupéis. Lo importante es tomar conciencia y ponerse manos a la obra. Sois un equipo. ",
                2: "Os felicitamos. Ya habéis empezado a trabajar en la dirección que os va a llevar a construir un proyecto sólido. Todas las concreciones necesitan primeros pasos.",
                3: "Felicidades, es importante reconocerse los logros. No dejéis de pensar si ese resultado es fruto de acciones que están consolidadas o de iniciativas puntuales. El trabajo en equipo y constante es el que os llevará mucho más lejos. No os olvidéis de implicar a toda la comunidad educativa de vuestra entidad.",
                4: "Enhorabuena. Vuestro programa responde a vuestras expectativas en relación a este principio. No obstante, seguro que queréis profundizar en vuestras prácticas, experimentar nuevas ideas y ensayar iniciativas que estén dando buenos resultados en otras entidades.",
            };

            const actualizarRadio = ({target}) => {
                const valor = target.value;
                if (valorSeleccionado === valor) {
                    target.checked = false;
                    valorSeleccionado = null;
                    mensajeSeleccionado.textContent = "";
                } else {
                    valorSeleccionado = valor;
                    mensajeSeleccionado.textContent = mensajes[valor] || "";
                }
            };

            const actualizarMensaje = () => {
                const seleccionado = document.querySelector('input[name="valoracion"]:checked');
                if (seleccionado) {
                    const valor = seleccionado.value;
                    mensajeSeleccionado.textContent = mensajes[valor] || "";
                }
            }

            let valorSeleccionado = null;

            radios.forEach(radio => {
                radio.addEventListener("click", actualizarRadio);
                radio.addEventListener("change", actualizarMensaje);
            });

            // Mostrar mensaje si ya hay un valor preseleccionado
            actualizarMensaje();
        });
    </script>

    {% comment %}
            Modal de información sobre las puntuaciones
    {% endcomment %}
    <div class="modal fade" id="modalInformacionValores" tabindex="-1"
         aria-labelledby="modalInformacionValoresTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInformacionValoresTitle">Significado de la escala</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ol class="ps-3">
                        <li class="mb-2">Principio no concretado en acciones del programa.</li>
                        <li class="mb-2">Principio concretado en acciones individuales o puntuales del programa.
                        </li>
                        <li class="mb-2">Principio concretado en acciones que realiza todo el equipo, aunque no sean
                            periódicas o sistemáticas.
                        </li>
                        <li class="mb-2">Principio concretado en acciones que implican a todo el equipo y a la
                            comunidad
                            educativa en su conjunto, que se programan anualmente, y que son coherentes y están
                            fundamentadas.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}