{% extends 'elama/base.html' %}

{% block content %}
     <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>CONSULTA AQUÍ TUS EVALUACIONES</h1>
        <a href="{% url "elama:main" %}" class="btn btn-success">NUEVA EVALUACIÓN</a>
     </div>

    <div class="flex-container ">
    <ul class="list-group">
        {% for autoevaluacion in autoevaluaciones %}
            <li class="list-group-item">
                <div style="display: flex; justify-content: space-between">
                     {% if autoevaluacion.finalizada %}
                         <div>
                             <h3 class="title">Autoevaluación nº{{ autoevaluacion.id }} <span style="color: green">&check;</span></h3>
                             <h6 class="text-body-secondary">{{ autoevaluacion.fecha_hora }}</h6>
                         </div>

                        <div>
                            <a href="{% url "elama:individual" autoevaluacion.id %}" class="btn btn-secondary">Ver</a>
                        </div>
                      {% else %}
                         <div>
                             <h3 class="title">Autoevaluación nº{{ autoevaluacion.id }}</h3>
                             <h6 class="text-body-secondary">{{ autoevaluacion.fecha_hora }}</h6>
                         </div>
                        <div>
                            <a href="{% url "elama:individual" autoevaluacion.id %}" class="btn btn-primary">Editar</a>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

    </div>
{% endblock content %}
