{% extends 'elama/base.html' %}

{% block content %}
    <div>
        <button type="button" class="d-flex btn btn-success mb-3" style="justify-self: end" data-bs-toggle="modal" data-bs-target="#exampleModal">
            NUEVA EVALUACIÓN
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog d-flex justify-content-center align-items-center " style="min-height: 85vh">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Elige tu equipo de evaluación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                        {% comment %}
                            TODO: Añadir Barra de Búsqueda y filtrado
                        {% endcomment %}
                            <ul class="list-group" style="max-height: 300px; overflow-y: auto">
                                {% for usuario in usuarios %}
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input name="ids" class="form-check-input" type="checkbox" value="{{ usuario.id }}">
                                            <label class="form-check-label" for="ids">
                                                {{ usuario.username }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="grupos-supervisados">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-grupos-supervisados" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                        Autoevaluaciones supervisadas
                    </button>
                </h2>
                <div id="flush-collapse-grupos-supervisados" class="accordion-collapse collapse"
                     data-bs-parent="grupos-supervisados">
                    <div class="accordion-body">
                        {% for grupo in grupos_supervisados %}
                            <div class="accordion accordion-flush" id="grupo-{{ grupo.id }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapse-{{ grupo.id }}"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                            {{ grupo }}
                                        </button>
                                    </h2>
                                    <div id="flush-collapse-{{ grupo.id }}" class="accordion-collapse collapse"
                                         data-bs-parent="grupo-{{ autoevaluacion.id }}">
                                        <div class="accordion-body">
                                            {% include 'elama/components/tabla_autoevaluacion.html' with autoevaluaciones=grupo.autoevaluacion_set.all show_user=True %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush" id="grupos-no-supervisados">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse-grupos-no-supervisados" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                        Autoevaluaciones no supervisadas
                    </button>
                </h2>
                <div id="flush-collapse-grupos-no-supervisados" class="accordion-collapse collapse"
                     data-bs-parent="grupos-no-supervisados">
                    <div class="accordion-body">
                        {% include 'elama/components/tabla_autoevaluacion.html' with autoevaluaciones=grupales_no_supervisadas show_group=True %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}