{% extends "elama/base.html"  %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class="text-center">
        Herramienta para la autoevaluación y el desarrollo de Programas de Español como Lengua Adicional para
        Migrantes Adultos (EsPROLAMA)
    </h1>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <form action="{% url 'users:login' %}" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Iniciar sesión" %}
                    <input type="hidden" name="next" value="{% url 'elama:main' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}