{% if autoevaluaciones %}
    <div class="flex-container">
        <table class="table table-striped table-hover shadow-sm rounded align-middle align-center">
            <thead>
            <tr>
                <th scope="col">Autoevaluación</th>
                {% if show_user %}
                    <th scope="col">
                        Usuario
                    </th>
                {% elif show_group %}
                    <th scope="col">
                        Grupo
                    </th>
                {% endif %}
                <th class="text-center" scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for autoevaluacion in autoevaluaciones reversed %}
                <tr>
                    <td>
                        {{ autoevaluacion.fecha_hora|date }}
                    </td>

                    {% if show_user %}
                        <td>
                            {{ autoevaluacion.usuario.username }}
                        </td>
                    {% elif show_group %}
                        <td>
                            {{ autoevaluacion.grupo }}
                        </td>
                    {% endif %}

                    <td>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            {% comment %}
                            Botón Home
                        {% endcomment %}
                            <a href="{% url "elama:individual-detail" autoevaluacion.id %}" title="Ver/Editar"
                               class="
                            d-flex justify-content-center btn
                            {% if autoevaluacion.finalizada %}
                            btn-outline-dark
                            {% else %}
                            btn-outline-primary
                            {% endif %}
                            ">
                                {% if autoevaluacion.finalizada %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/>
                                        <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-pencil">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"/>
                                        <path d="M13.5 6.5l4 4"/>
                                    </svg>
                                {% endif %}
                            </a>
                            {% include 'elama/components/imprimir_pdf.html' with autoevaluacion=autoevaluacion %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>
        {% if show_group %}
            No eres miembro de ninguna autoevaluación grupal
        {% elif not show_group and not show_user %}
            No existen autoevaluaciones
        {% endif %}
    </p>
{% endif %}
